
h1 {
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 150px;
    margin-left: 150px;
    padding: 3px;
  }

h1.message {
    background-color:rgb(26, 23, 23);
    color:white;
    padding:30px;
    width: 100%;
    margin: auto;

  }

h5 {
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    margin-right: 400px;
    margin-left: 400px;
    padding: 3px;
  }

p {
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    margin-right: 400px;
    margin-left: 400px;
    padding: 3px;
  }

ul.list {
    list-style-position: inside;
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    margin-right: 400px;
    margin-left: 400px;
    padding: 3px;
    text-indent: 10px;
    white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }
  
  /* Shipping and Delivery Page - Table */

table {
    border-collapse: collapse;
    width: 50%;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 10px;
  }
  
table td, #table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding: 12px;
    text-align: left;
    background-color: rgb(44, 43, 43);
    color: white;
  }

.faq-row-wrapper {
  margin-right: 400px;
  margin-left: 400px;
}

.row-content-text {
  align-items: center;
  text-align: justify;
  justify-content: space-evenly;
  padding: 3px;
  white-space: normal;
  float: right;
  width: 100%;
  height: auto;
  word-wrap: break-word;
}

/* Mobile Device */
@media screen and (max-width: 480px) {
  h1, h5, p {
    width: 100%;
    margin-left: 10x;
    margin-right: 10px;
    word-wrap: break-word;
  }

}
/* Tables */
@media screen and (max-width: 768px) {
  h1, h5, p {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    word-wrap: break-word;
  }

}

@media screen and (max-width: 1400px) {v
  h1, h5, p {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    word-wrap: break-word;
  }
}

