* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
@font-face{
  font-family: Montserrat;
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

.home,
.products,
.contact,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.products {
  background-image: url('/images/temporary.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.contact {
  background-image: url('/images/contactbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.sign-up {
  background-image: url('/images/contactbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
